body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #61dafb;
    text-transform: uppercase;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #1e1e1e;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #3a3a3a;
}

.status {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info{
    font-size: 25px;
    margin-bottom: 20px;
    color: #61dafb;
    text-transform: uppercase;
}

#reset {
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
}
#reset:hover {
    background-color: #3a3a3a;
}