body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(238, 231, 231);
    font-family: Arial, sans-serif;
}

.game-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #F8BA29;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.cell:hover {
    background-color: #f3c762;
    transform: scale(1.05);
}

.status {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#reset {
    background-color: #F8BA29;
}

#reset:hover {
    background-color: #f3c762;
    transform: scale(1.05);
}

#reset:active {
    background-color: #faaf00;
}

.fs {
    font-size: 30px;
}

.leaderboard table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}